<nav class="sidebar" data-controller="menu">
  <header>
    <div class="image-text" style="padding-left: 10px;">
      <!-- <span class="image"><img src="logo.png" alt=""></span>-->
      <div class="text logo-text">
        <span class="name"><%= current_user.name %></span>
        <span class="profession"><%= current_user.email %></span>
      </div>
    </div>

    <i class="bi bi-layout-sidebar-inset-reverse icon toggle" data-action="click->menu#toggleSidebar"></i>
  </header>

  <div class="menu-bar">
    <div class="menu">

      <ul class="menu-links" style="padding: 0;">
        <li class="nav-link">
          <%= link_to root_path do  %>
            <i class="bi bi-stack icon"></i>
            <span class="text nav-text">Dashboard</span>
          <% end %>
        </li>

        <div data-controller="menu">
          <!-- Primeiro link e submenu -->
          <li class="nav-link">
            <a href="javascript:void(0)" class='menu_station' data-menu-target="link" data-action="click->menu#toggleSubmenu">
              <i class="bi bi-boxes icon"></i>
              <span class="text nav-text">Estações Met.</span>
              <i class="bi bi-caret-down-fill icon"></i>
            </a>
          </li>

          <div class='desable' style="padding-left: 40px;" data-menu-target="submenu">
            <li class="nav-link">
              <%= link_to inmet_weather_stations_path, style:'padding-left: 10px;' do  %>
                <span class="text nav-text">INMET</span>
              <% end %>
            </li>
          </div>

          <!-- Segundo link e submenu -->
          <li class="nav-link">
            <a href="javascript:void(0)" class='menu_station' data-menu-target="link" data-action="click->menu#toggleSubmenu">
              <i class="bi bi-boxes icon"></i>
              <span class="text nav-text">Dados Met.</span>
              <i class="bi bi-caret-down-fill icon"></i>
            </a>
          </li>
          <div class='desable' style="padding-left: 40px;" data-menu-target="submenu">
            <li class="nav-link">
              <%= link_to inmet_weather_data_path, style:'padding-left: 10px;' do  %>
                <span class="text nav-text">INMET</span>
              <% end %>
            </li>
          </div>
        </div>


        <li class="nav-link" >
          <%= link_to sidekiq_web_path, target:"_blank" do  %>
            <i class="bi bi-diagram-3-fill icon"></i>
            <span class="text nav-text">Processos</span>
          <% end %>
        </li>

        <li class="nav-link" >
          <%= link_to users_project_index_path do  %>
            <i class="bi bi-person-vcard icon"></i>
            <span class="text nav-text">Usuarios</span>
          <% end %>
        </li>

      </ul>
    </div>

    <div class="bottom-content">
      <% if ENV.fetch("RAILS_ENV", "development") == "development"  %>
        <li class="nav-link">
          <%= link_to grafico_dashboard_index_path do  %>
            <i class="bi bi-stack icon"></i>
            <span class="text nav-text">Graficos</span>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to destroy_user_session_path do %>
          <i class="bi bi-box-arrow-left icon"></i>
          <span class="text nav-text">Sair</span>
        <% end %>
      </li>
    </div>
  </div>

</nav>


