 <div class="row mt-3">
    <%= render partial: 'temp', locals: { dados: @tem_ins, time: @time, id: 'temperatura' } %>
    <%= render partial: 'temp', locals: { dados: @umd_ins, time: @time, id: 'humidade' } %>
    <%= render partial: 'temp', locals: { dados: @rad_glo, time: @time, id: 'radiacao' } %>
    <%= render partial: 'temp', locals: { dados: @ven_vel, time: @time, id: 'vento' } %>
    <%= render partial: 'temp', locals: { dados: @chuva, time: @time, id: 'chuva' } %>
    <%= render partial: 'temp', locals: { dados: @pre_ins, time: @time, id: 'Pressão' } %>

   <div class="col-sm-12 col-xl-12 box-col-12">
     <div class="card">
       <div class="card-body">
         <div class="table-responsive">
           <table class="table table-striped table-hover table-sm">
             <thead class="thead-dark">
             <tr>
               <th scope="col">Data (UTC -3)</th>
               <th scope="col">Hora (UTC -3)</th>
               <th scope="col">Radiacao </th>
               <th scope="col">Chuva </th>
               <th scope="col">Dir. Vento </th>
               <th scope="col">Vel. Vento </th>
               <th scope="col">Raj. Vento </th>
               <th scope="col">Pressao </th>
               <th scope="col">Pto Orvalho</th>
               <th scope="col">Temperatura </th>
               <th scope="col">Umidade </th>
             </tr>
             </thead>
             <tbody>
             <% @inmet_weather_data.each do |weather_datum| %>
               <tr>
                 <td><%= weather_datum.hr_medicao.to_date_br %></td>
                 <td><%= weather_datum.hr_medicao.to_time_br %></td>
                 <td><%= weather_datum.rad_glo %> (KJ/m¬≤)</td>
                 <td><%= weather_datum.chuva %> (mm)</td>
                 <td><%= weather_datum.wind_direction_to_cardinal %></td>
                 <td><%= weather_datum.ven_vel %> (m/s)</td>
                 <td><%= weather_datum.ven_raj %> (m/s)</td>
                 <td><%= weather_datum.pre_ins %> (hPa)</td>
                 <td><%= weather_datum.pto_ins %> (C)</td>
                 <td><%= weather_datum.tem_ins %> (C)</td>
                 <td><%= weather_datum.umd_ins %> (%)</td>
               </tr>
             <% end %>
             </tbody>
           </table>
         </div>
       </div>
     </div>
   </div>
  </div>