<%= turbo_frame_tag 'render_table_dashbord_range_data' do %>
  <div class="row mt-3">
    <%= render partial: 'card_data',
               locals: { dados: @tem_ins_range, time: @time_range, id: 'TEMPERATURA', type: 'HORA' , unidade: "ºC"      , box_plot_data: @tem_ins_stats_range} %>
    <%= render partial: 'card_data',
               locals: { dados: @umd_ins_range, time: @time_range, id: 'HUMIDADE',    type: 'HORA' , unidade: "%"       , box_plot_data: @umd_ins_stats_range} %>
    <%= render partial: 'card_data',
               locals: { dados: @rad_glo_range, time: @time_range, id: 'RADIAÇÃO',    type: 'HORA' , unidade: "(KJ/m¬≤)", box_plot_data: @rad_glo_stats_range} %>
    <%= render partial: 'card_data',
               locals: { dados: @ven_vel_range, time: @time_range, id: 'VENTO',       type: 'HORA' , unidade: "m/s"     , box_plot_data: @ven_vel_stats_range} %>
    <%= render partial: 'card_data',
               locals: { dados: @chuva_range,   time: @time_range, id: 'CHUVA',       type: 'HORA' , unidade: "mm"      , box_plot_data: @chuva_stats_range} %>
    <%= render partial: 'card_data',
               locals: { dados: @pre_ins_range, time: @time_range, id: 'PRESSÃO',     type: 'HORA' , unidade: "hPa"     , box_plot_data: @pre_ins_stats_range} %>
  </div>
<% end %>