<%= javascript_include_tag 'apex_chats' %>

<section class="background-radial-gradient overflow-hidden">
  <div class="row" style="height: 100vh;overflow-x: auto;">
    <div class="row" style="height: 100vh; padding: 30px 10px 10px 50px">

      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12" style="text-align: center;margin-top: 50px">
            <div class="col-md-3" style="margin: 0 auto;">
              <%= select_tag 'opcoes_select',
                             options_for_select(@cidade.collect { |opcao| [opcao, opcao] }, ['GOIANIA']),
                             { include_blank: 'Selecione uma opção',
                               class: 'select2 form-control' } %>
            </div>
          </div>

          <div style="text-align: center;">
            <h1 class="my-3 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
              Dados Diarios
            </h1>
          </div>

          <div class="col-md-12 mb-3" style="text-align: center;margin-top: 10px">
            <div class="col-md-3" style="margin: 0 auto;">
              <%= form_with url: dashboard_index_path, method: :get, data: { turbo_frame: 'data_current' } do |f| %>
                <%= f.date_field :data_inicio, class: 'form-control', value: params[:data_inicio] || Date.current.to_s, id: 'data_inicio_field' %>
              <% end  %>
            </div>
          </div>

          <%= render 'table_diaria' %>

          <div style="text-align: center;">
            <h1 class="my-3 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
              Periodo de Dados
            </h1>
          </div>



            <%= form_with url: dashboard_index_path, method: :get, data: { turbo_frame: 'range_data_current' } do |f| %>
              <div class="col-md-12 mb-3" style="text-align: center;margin-top: 10px;">
                <div class="d-flex justify-content-center">
                  <div class="col-md-2" style="margin-right: 10px;">
                    <div class="form-group">
                      <%= f.label :data_inicio, "Data de Início", style: 'color: white' %>
                      <%= f.date_field :range_data_inicio, class: 'form-control', value: params[:range_data_inicio], id: 'range_data_inicio_field', value: params[:range_data_inicio] %>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <%= f.label :data_fim, "Data de Fim", style: 'color: white'  %>
                      <%= f.date_field :range_data_fim, class: 'form-control', value: params[:range_data_fim], id: 'range_data_fim_field', value: params[:range_data_fim] %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

          <%= render 'table_range' %>



        </div>
      </div>

    </div>
  </div>

</section>



<script>
    window.addEventListener('DOMContentLoaded', () => {
        $('.select2').select2();
    })

    document.addEventListener('DOMContentLoaded', () => {
        const dataInicioField = document.getElementById('data_inicio_field');

        dataInicioField.addEventListener('change', () => {
            const form = dataInicioField.closest('form');
            form.requestSubmit();
        });

        const rangeDataInicioField = document.getElementById('range_data_inicio_field');
        const rangeDataFimField = document.getElementById('range_data_fim_field');

        rangeDataInicioField.addEventListener('change', () => {
            if (rangeDataFimField.value) {
                const form = rangeDataInicioField.closest('form');
                form.requestSubmit();
            }
        });

        rangeDataFimField.addEventListener('change', () => {
            if (rangeDataInicioField.value) {
                const form = rangeDataFimField.closest('form');
                form.requestSubmit();
            }
        });
    });

</script>



