<div>
  <section class="background-radial-gradient overflow-hidden">
    <style>
        .background-radial-gradient {
            background-color: hsl(150, 94%, 12%);
            background-image: radial-gradient(650px circle at 0% 0%,
            hsl(148, 80%, 24%) 15%,
            hsl(148, 100%, 19%) 35%,
            hsl(147, 100%, 18%) 75%,
            hsl(145, 100%, 17%) 80%,
            transparent 100%),
            radial-gradient(1250px circle at 100% 100%,
                    hsl(148, 80%, 24%) 15%,
                    hsl(148, 100%, 19%) 35%,
                    hsl(147, 100%, 18%) 75%,
                    hsl(145, 100%, 17%) 80%,
                    transparent 100%);
        }

        .bg-glass {
            /*background-color: hsl(0deg 0% 100% / 62%) !important;*/
            /*backdrop-filter: saturate(200%) blur(25px);*/

            background-color: hsl(150.53deg 93.44% 11.96% / 34%) !important;

        }

        .my-shadow-lg {
            box-shadow: 0 1rem 3rem rgb(0 0 0 / 96%) !important;
        }

        .width_card {
            width: 120vh;
        }

        @media (min-width: 768px)
        {
            .width_card {
                width: 60vw;
            }
        }

        @media (min-width: 800px)
        {
            .width_card {
                width: 60vw;
            }
        }

        @media (min-width: 992px)
        {
            .width_card {
                width: 80vw;
            }
        }

        @media (min-width: 1024px)
        {
            .width_card {
                width: 80vw;
            }
        }

        @media (min-width: 1100px)
        {
            .width_card {
                width: 70vw;
            }
        }

        @media (min-width: 1200px)
        {
            .width_card {
                width: 65vw;
            }
        }

        @media (min-width: 1400px)
        {
            .width_card {
                width: 55vw;
            }
        }

        @media (min-width: 1500px)
        {
            .width_card {
                width: 55vw;
            }
        }

        @media (min-width: 1650px)
        {
            .width_card {
                width: 47vw;
            }
        }

    </style>

    <div class="row" style="height: 100vh; overflow: auto">

      <div class="container px-4 py-5 px-md-1 text-center text-lg-start my-5 width_card" style="display: flex; flex-direction: row; justify-content: center;">

        <div class="row gx-lg-3 align-items-center mb-5">
          <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
            <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
              Base de dados Climaticas Unificadas <br />

            </h1>
            <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
              Dados climaticos de diversas bases bases unificadas e tratadas em um unico local, para acelerar sua
              pequisa, desenvolvimento de produtos, analises climaticas atuais ou historicas.
            </p>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

            <div class="card bg-glass my-shadow-lg">
              <div class="card-body px-4 py-5 px-md-5">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                  <div class="row" style="text-align: center">
                    <h1>Entrar</h1>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Email</label>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"form3Example3" %>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4">Senha</label>
                    <%= f.password_field :password, autocomplete: "current-password", id:"form3Example4", class:"form-control" %>
                  </div>

                  <div class="row" style="text-align: center">
                    <%= f.submit "Entrar", class: "btn btn-primary btn-block mb-4" %>
                  </div>
                  <div class="row" style="text-align: center">
                    <%= render "devise/shared/links" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
