<tr id="station_<%= noa_weather_station.id %>">
  <td><%= noa_weather_station.cdg_estacao %></td>
  <td><%= noa_weather_station.name %></td>
  <td><%= noa_weather_station.vl_latitude %></td>
  <td><%= noa_weather_station.vl_longitude %></td>
  <td><%= noa_weather_station.vl_altitude %></td>

  <td><%= noa_weather_station.dta_inicio_operacao.to_date_b %></td>
  <td><%= noa_weather_station.dta_fim_operacao.to_date_b %></td>
</tr>
