<tr id="station_<%= weather_station.id %>">
  <td><%= weather_station.cdg_estacao %></td>
  <td><%= weather_station.cidade %></td>
  <td><%= weather_station.sg_estado %></td>
  <td><%= weather_station.nme_estado %></td>
  <td><%= weather_station.cdg_regiao %></td>

  <td><%= weather_station.vl_latitude %></td>
  <td><%= weather_station.vl_longitude %></td>
  <td><%= weather_station.vl_altitude %></td>

  <td><%= weather_station.situacao %></td>

  <td><%= weather_station.dta_inicio_operacao.to_date_b %></td>
</tr>