<section class="background-radial-gradient overflow-hidden">

  <div style="height: 100vh;overflow-x: auto;">
    <div style="height: 100vh; padding: 30px 10px 10px 50px">

      <div>
        <div class="card">
          <div class="card-header pb-0" style="display: flex;">
            <h1>Estações Meteorológicas</h1>
            <button class='btn btn-primary btn-block' onclick= "submit_import_station()" style="margin-left: auto;margin-bottom: 11px;"> Gerar Importação </button>
          </div>
          <div class="card-body">

            <%= form_with(url: inmet_weather_stations_path, method: :get) do |form| %>
              <div class="row p-4">
                <div class="col-md-3">
                  <p class="mb-1 mt-3 font-weight-bold text-muted">Código</p>
                  <%= form.select :by_cdg_estacao,
                                  options_for_select(@wmo.collect { |tp| [tp,tp] }, @fiters_params[:by_cdg_estacao]),
                                  {include_blank: 'Selecione'},
                                  {class: 'select2 form-control'} %>
                </div>

                <div class="col-md-3">
                  <p class="mb-1 mt-3 font-weight-bold text-muted">Cidade</p>
                  <%= form.select :by_cidade, options_for_select(@cidade.collect { |tp| [tp, tp] }, @fiters_params[:by_cidade]),
                                  {include_blank: 'Selecione um Cidade'}, {class: 'select2 form-control '} %>
                </div>
                <div class="col-md-3">
                  <p class="mb-1 mt-3 font-weight-bold text-muted">Estado</p>
                  <%= form.select :by_nme_estado, options_for_select(@estado.collect { |tp| [tp, tp] }, @fiters_params[:by_nme_estado]),
                                  {include_blank: 'Selecione um Estado'}, {class: 'select2 form-control '} %>
                </div>
                <div class="col-md-3">
                  <p class="mb-1 mt-3 font-weight-bold text-muted">Situação</p>
                  <%= form.select :by_situacao, options_for_select(["Pane", "Operante"], @fiters_params[:by_situacao]),
                                  {include_blank: 'Selecione um Situação'}, {class: 'select2 form-control '} %>
                </div>


                <div class="p-1 mt-5" style="justify-content: flex-end;display: flex;">
                  <%= form.submit "Filtrar", class: 'btn btn-primary btn-block mb-4', style:'width: 179px;'%>
                </div>

              </div>
            <% end %>

          </div>
        </div>
      </div>

      <div id="">


        <div class="card">
          <div class="card-body">

            <table class="table table-striped table-hover">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Cidade</th>
                <th scope="col">Sigla Estado</th>
                <th scope="col">Estado</th>
                <th scope="col">Região</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Altitude</th>
                <th scope="col">Situação</th>
                <th scope="col">Dta Fundação</th>
                <th scope="col">Dta Fim Operação</th>
                <th scope="col">Status</th>
                <th scope="col">Opção</th>
              </tr>
              </thead>
              <tbody>
              <% @weather_stations.each do |weather_station| %>
                <tr id="station_<%= weather_station.id %>">
                  <td><%= weather_station.cdg_estacao %></td>
                  <td><%= weather_station.cidade %></td>
                  <td><%= weather_station.sg_estado %></td>
                  <td><%= weather_station.nme_estado %></td>
                  <td><%= weather_station.cdg_regiao %></td>

                  <td><%= weather_station.vl_latitude %></td>
                  <td><%= weather_station.vl_longitude %></td>
                  <td><%= weather_station.vl_altitude %></td>

                  <td><%= weather_station.situacao %></td>

                  <td><%= weather_station.dta_inicio_operacao.to_date_b %></td>

                  <td><%= weather_station.dta_inicio_operacao.to_date_b %></td>
                  <td><%=  weather_station.status?  %></td>
                  <td>
                    <% if weather_station.status == 0 %>
                      <%= "<button class='btn btn-primary btn-block' onclick= submit_import_data('#{weather_station.id}')  style='padding: 3px;'> Importar </button>".html_safe %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>

            <div style="display: flex;justify-content: center;">
              <%= will_paginate @weather_stations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
            </div>


          </div>
        </div>

      </div>
    </div>
  </div>

</section>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        $('.select2').select2();
    })
</script>


<script>
  function submit_import_station() {
    $.ajax({
      url: "<%= start_import_inmet_weather_stations_path %>",
      type: "get",
      data: { },
      success: function (data) {
        console.log(data);
        Swal.fire({
          icon: 'success',
          title: data.message
        })
      },
      error: function (data) { },
    });
  }

  function submit_import_data(id_stattion) {
    $.ajax({
      url: "<%= start_import_data_inmet_weather_stations_path %>",
      type: "get",
      data: {id_stattion},
      success: function (data) {
        console.log(data);
        Swal.fire({
          icon: 'success',
          title: data.message
        })
      },
      error: function (data) { 
        Swal.fire({
          icon: 'dange',
          title: data.message
        })
      },
    });
  }

</script>