<p style="color: green"><%= notice %></p>

<%= render @weather_station %>

<div>
  <%= link_to "Edit this weather station", edit_weather_station_path(@weather_station) %> |
  <%= link_to "Back to weather stations", weather_stations_path %>

  <%= button_to "Destroy this weather station", @weather_station, method: :delete %>
</div>
