<div class="modal fade" id="new_user" tabindex="-1" role="dialog" aria-labelledby="new_userTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Novo Usuário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="font-size: 25px">&times;</span>
        </button>
      </div>
      <%= form_with model: User.new, url: users_project_index_path, html: { id: 'new_user_form', data: { controller: "users-project", action: "submit->users-project#submit" } } do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="card-body px-4 py-5 px-md-5">
          <div class="form-outline mb-1">
            <label class="form-label" for="form3Example0" style="color: #2E2F30">Nome:</label>
            <%= f.text_field :name, autofocus: true, class:"form-control", id:"form3Example0", placeholder: 'Digite o nome' %>
          </div>
          <div class="form-outline mb-1">
            <label class="form-label" for="form3Example3" style="color: #2E2F30">Email:</label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"form3Example3", placeholder: 'Digite o email' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: auto;">Cancelar</button>
          <%= f.submit "Salvar", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>