<% @users.each do |user| %>
  <tr id="station_<%= user.id %>">
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td>
      <%= render 'action', user: user %>
    </td>
    <td>
      <div class="form-check form-switch" data-controller="users-project">
        <input class="form-check-input" type="checkbox" role="switch" id="user_up_<%= user.id %>" data-id="<%= user.id %>" <%= 'checked' if user.admin %> data-action="change->users-project#toggleAdmin">
      </div>
    </td>
  </tr>
<% end %>